:root {
  color: #f6f6f6;
  background-color: #2f2f2f;
}

a:hover {
  color: #24c8db;
}

input,
button {
  color: #ffffff;
  background-color: #1b1b1b;
}

button:active {
  background-color: #222222;
}
