@import "mixins";
@import "variables";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content,
.content--center,
.content--focus,
.content--w-header {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content--center {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content--w-header {
  padding-top: $header-height;
}

.content--focus {
  max-width: 650px;
}

::selection {
  background-color: rgba(31, 111, 235, 0.7);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

h1 {
  text-align: center;
}

input,
button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  @include user-select-none;
}

input:focus,
button:focus {
  outline-offset: -2px;
}

input:focus {
  cursor: text;
}

button {
  cursor: pointer;
}

button:active {
  border-color: #396cd8;
}

label {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  margin-left: 20px
}

@import "theme";
